.card-list {
  width: 75vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media only screen and (min-width: 600px) {
  .card-list {
    width: 85vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

}

